<header>
    <div class="col-lg-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.pl">Perl DB Manager</a>
            </div>

            <div class="collapse navbar-collapse" id="my-navbar">
              <ul class="nav navbar-nav">
                <li class="<!--cgi:is_active_tables-->">
                  <a href="tables.pl"><i class="fa fa-table" aria-hidden="true"></i> Liste des tables</a>
                </li>
                <li class="<!--cgi:is_active_create_table-->">
                  <a href="create_table.pl"><i class="fa fa-plus" aria-hidden="true"></i> Créer une table</a>
                </li>     
              </ul>
            </div>
          </div>
        </nav>
    </div>
</header>