<!-- Page Content -->
<div class="container content">

	<div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="containers">Créer une table</h1>
                </div>
                <div class="box">
                    <div class="bs-component">
                      <div class="panel panel-primary">
		                <div class="panel-heading">
		                  <h3 class="panel-title">Entrez le nom de la table et remplissez les champs.<br>(Le champs ID sera créé automatiquement)</h3>
		                </div>
		                <div class="panel-body">
		                  	<form action="cible_create_table.pl" class="form-inline" method="POST">
		                  		<div class="row">
									<div class="col-sm-4 form-group <!--cgi:has_error_table_name-->">
										<input value="<!--cgi:table_name-->" id="table_name" name="table_name" type="text" class="form-control" placeholder="Nom de la table" required>
										<span class="help-block"><!--cgi:error_table_name--></span>
									</div>
								</div>
								<br><br>
								
								<!--cgi:row_form-->
								<!-- Ajouts des nouvelles collones ici -->
								<div id="rows" >
									<!-- contenu -->
								</div>
								
																																		
								<br><br>
								<button type="button" id="add_row" class="btn btn-primary">Ajouter un champs</button>

								<button type="submit" class="btn btn-success">Créer la table</button>
						  	</form>
		                </div>
		              </div>
                    </div>
                </div>
              </div>
            </div>	
        </div>
    </div>
</div>
<!-- /.container -->