<!-- Page Content -->
<div class="container content">

	<div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="containers">Modifier l'entrée n°<!--cgi:id--> de la table "<!--cgi:table_name-->"</h1>
                </div>
                <div class="box">
                    <div class="bs-component">
                      <div class="panel panel-primary">
		                <div class="panel-heading">
		                  <h3 class="panel-title">Modifiez la valeur des champs puis enregistrez.</h3>
		                </div>
		                <div class="panel-body">
		                <form action="cible_edit_row.pl" method="POST">
							<input name="table_name" type="text" class="form-control hidden" value="<!--cgi:table_name-->" >
							<input name="id" type="text" class="form-control hidden" value="<!--cgi:id-->" >
							<!--cgi:form_content-->
							<br>			
							<br>
							<a href="show_table.pl?name=<!--cgi:table_name-->" class="btn btn-primary">Retour</a>
							<button type="submit" class="btn btn-success">Enregistrer</button>
					  	</form>

		                </div>
		              </div>
                    </div>
                </div>
              </div>
            </div>	
        </div>
    </div>
</div>
<!-- /.container