<div class="container">

    <div class="row">
        <div class="col-xs-12 col-lg-offset-2 col-lg-8">
            <div class="row">
              <div class="col-xs-12 col-lg-12">                    
                  <div class="jumbotron text-center">
                    <h1>Bienvenue</h1>
                    <p>Administrez simplement votre base de donnée depuis ce site!</p>
                    <p><a href="tables.pl" class="btn btn-default btn-lg btn-block">Afficher la liste des tables</a></p>
                    <p><a href="create_table.pl" class="btn btn-default btn-lg btn-block">Créer une table</a></p>
                  </div>
                </div>
      		</div>
        </div>	
    </div>
</div>