<!-- Page Content -->
<div class="container content">

	<div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="containers">Insérer dans la table "<!--cgi:table_name-->"</h1>
                </div>
                <div class="box">
                    <div class="bs-component">
                      <div class="panel panel-primary">
		                <div class="panel-heading">
		                  <h3 class="panel-title">Remplissez les champs puis envoyez.</h3>
		                </div>
		                <div class="panel-body">
		                <form action="cible_insert_into_table.pl" method="POST">
							<input id="table_name" name="table_name" type="text" class="form-control hidden" value="<!--cgi:table_name-->" >
							<div class="row">
								<!--cgi:form-content-->
							</div>
							<br>
			
							<br>
							<a href="show_table.pl?name=<!--cgi:table_name-->" class="btn btn-primary">Retour</a>
							<button type="submit" class="btn btn-success">Envoyer</button>
					  	</form>
		                									
		                </div>
		              </div>
                    </div>
                </div>
              </div>
            </div>	
        </div>
    </div>
</div>
<!-- /.container -->