<!-- Page Content -->
<div class="container content">
	<div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-lg-12">
                                    <div class="page-header">
                  <h1 id="containers">Table "<!--cgi:table_name-->"</h1>
                </div>

                <div class="box">
                    <div class="bs-component">
                      <div class="panel panel-primary">
		                <div class="panel-heading">
		                  <h3 class="panel-title">Liste des entrées :</h3>
		                </div>
		                <div class="panel-body table-responsive">
		                	<table class="table table-striped table-hover">
                                <!--cgi:table_content-->
                            </table>
                            <br>
		                </div>
		              </div>
                    </div>
                	<div class="btn-group btn-group-justified">
					  <a href="tables.pl" class="btn btn-primary">retour</a>
					  <a href="insert_into_table.pl?name=<!--cgi:table_name-->" class="btn btn-success">Insérer</a>
					  <a id="<!--cgi:table_name-->" class="btn btn-danger" onClick="return confirm('Êtes-vous certain?')">Supprimer</a>
					</div>
                </div>
              </div>
            </div>	
        </div>
    </div>
</div>
<!-- /.container -->