<!-- Page Content -->
<div class="container content">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="page-header">
                  <h1 id="containers">Tables</h1>
                </div>
                <div class="box">
                    <div class="bs-component">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h3 class="panel-title">Liste des tables :</h3>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-striped table-hover ">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Nom de la table</th>
                                  <th style="width: 50px"></th>
                                  <th style="width: 50px"></th>
                                  <th style="width: 50px"></th>
                                </tr>
                                <!--cgi:table_content-->
                            </table>                               
                        </div>
                      </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                      <a href="create_table.pl" class="btn btn-default">Créer une table</a>
                    </div>
                </div>
              </div>
            </div>  
        </div>
    </div>
</div>
<!-- /.container -->