body {
    /*height: 100%;*/
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
header {
    margin-top: 20px;
}
.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar-brand {
    position: relative;
    bottom: 2px;
}
.box {
    padding-top: 10px;
    padding-bottom: 10px;
}
.content {
    padding-bottom: 50px;
}
.text-muted {
    position: relative;
    top: 12px;
}
label{
}